/* .rightSide{
    min-height: 20vh;
    overflow: auto !important;
    transition: all 0.5 ease;
} */
/* .first{ 
    background-image: url("C:\Users\HP\Desktop\projects\ytube\client\public\Rectangle 26.png");
} */

.first {
  background-image: url("../public/Rectangle\ 26.png ");
  background-size: cover;
  width: 100%;
  height: 450px;
  position: relative;
}
.navbar {
  z-index: 5;
}

.second {
  background-image: url("../public/Rectangle\ 33.png ");
  background-size: cover;
  width: 100%;
  height: 450px;
  position: relative;
  margin-bottom: 150px;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 200px;
}
.third {
  background-image: url("../public/Rectangle\ 55.png ");
  background-size: cover; /* contain */ /* width in px/em/rem ie 50rem 20rem */
}
.card {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;

  margin-top: 90px;
}
.smallCard{
    background-image: url("../public/Ellipse\ 9.png ");
    
   
}
.smallCard1{
    background-image: url("../public/Rectangle\ 29.png "); 
}